In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# import dataset
df = pd.read_csv('Traffic_Violations.csv')

# read the first 5 rows
df.head(5)

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Date Of Stop,Time Of Stop,Agency,SubAgency,Description,Location,Latitude,Longitude,Accident,Belts,...,Charge,Article,Contributed To Accident,Race,Gender,Driver City,Driver State,DL State,Arrest Type,Geolocation
0,09/24/2013,17:11:00,MCP,"3rd district, Silver Spring",DRIVING VEHICLE ON HIGHWAY WITH SUSPENDED REGI...,8804 FLOWER AVE,NaN,NaN,No,No,...,13-401(h),Transportation Article,No,BLACK,M,TAKOMA PARK,MD,MD,A - Marked Patrol,NaN
1,08/29/2017,10:19:00,MCP,"2nd district, Bethesda",DRIVER FAILURE TO OBEY PROPERLY PLACED TRAFFIC...,WISCONSIN AVE@ ELM ST,38.981725,-77.092757,No,No,...,21-201(a1),Transportation Article,No,WHITE,F,FAIRFAX STATION,VA,VA,A - Marked Patrol,"(38.981725, -77.0927566666667)"
2,12/01/2014,12:52:00,MCP,"6th district, Gaithersburg / Montgomery Village",FAILURE STOP AND YIELD AT THRU HWY,CHRISTOPHER AVE/MONTGOMERY VILLAGE AVE,39.162888,-77.229088,No,No,...,21-403(b),Transportation Article,No,BLACK,F,UPPER MARLBORO,MD,MD,A - Marked Patrol,"(39.1628883333333, -77.2290883333333)"
3,08/29/2017,09:22:00,MCP,"3rd district, Silver Spring",FAILURE YIELD RIGHT OF WAY ON U TURN,CHERRY HILL RD./CALVERTON BLVD.,39.056975,-76.954633,No,No,...,21-402(b),Transportation Article,No,BLACK,M,FORT WASHINGTON,MD,MD,A - Marked Patrol,"(39.056975, -76.9546333333333)"
4,08/28/2017,23:41:00,MCP,"6th district, Gaithersburg / Montgomery Village",FAILURE OF DR. TO MAKE LANE CHANGE TO AVAIL. L...,355 @ SOUTH WESTLAND DRIVE,NaN,NaN,No,No,...,21-405(e1),Transportation Article,No,WHITE,M,GAITHERSBURG,MD,MD,A - Marked Patrol,NaN

In [3]:
# dataset information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1292399 entries, 0 to 1292398
Data columns (total 35 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   Date Of Stop             1292399 non-null  object
 1   Time Of Stop             1292399 non-null  object
 2   Agency                   1292399 non-null  object
 3   SubAgency                1292389 non-null  object
 4   Description              1292390 non-null  object
 5   Location                 1292397 non-null  object
 6   Latitude                 1197045 non-null  float64
 7   Longitude                1197045 non-null  float64
 8   Accident                 1292399 non-null  object
 9   Belts                    1292399 non-null  object
 10  Personal Injury          1292399 non-null  object
 11  Property Damage          1292399 non-null  object
 12  Fatal                    1292399 non-null  object
 13  Commercial License       1292399 non-null  object
 14  HAZMAT                   1292399 non-null  object
 15  Commercial Vehicle       1292399 non-null  object
 16  Alcohol                  1292399 non-null  object
 17  Work Zone                1292399 non-null  object
 18  State                    1292340 non-null  object
 19  VehicleType              1292399 non-null  object
 20  Year                     1284325 non-null  float64
 21  Make                     1292342 non-null  object
 22  Model                    1292212 non-null  object
 23  Color                    1276272 non-null  object
 24  Violation Type           1292399 non-null  object
 25  Charge                   1292399 non-null  object
 26  Article                  1227230 non-null  object
 27  Contributed To Accident  1292399 non-null  object
 28  Race                     1292399 non-null  object
 29  Gender                   1292399 non-null  object
 30  Driver City              1292182 non-null  object
 31  Driver State             1292388 non-null  object
 32  DL State                 1291470 non-null  object
 33  Arrest Type              1292399 non-null  object
 34  Geolocation              1197045 non-null  object
dtypes: float64(3), object(32)
memory usage: 345.1+ MB

In [11]:
# check missing data
df.isnull().sum()

Agency                         0
Accident                       0
Belts                          0
Personal Injury                0
Property Damage                0
Fatal                          0
Commercial License             0
Commercial Vehicle             0
Alcohol                        0
Work Zone                      0
State                         59
VehicleType                    0
Model                        187
Color                      16127
Violation Type                 0
Charge                         0
Contributed To Accident        0
Race                           0
Gender                         0
dtype: int64

In [6]:
# deleting columns
df.drop(['SubAgency', 'Description', 'Location', 'Latitude', 'Longitude', 'Driver City', 'Driver State', 'Arrest Type', 'Geolocation'], inplace=True, axis=1)

In [8]:
# drop more columns
df.drop(['Date Of Stop', 'Time Of Stop', 'HAZMAT', 'Year', 'Make'], inplace=True, axis=1)

In [10]:
# drop more columns
df.drop(['Article',  'DL State'], inplace=True, axis=1)

In [15]:
# drop more columns
df.drop(['Agency', 'VehicleType', 'Charge'], inplace=True, axis=1)

In [16]:
df.head()

,Accident,Belts,Personal Injury,Property Damage,Fatal,Commercial License,Commercial Vehicle,Alcohol,Work Zone,State,Model,Color,Violation Type,Contributed To Accident,Race,Gender
0,No,No,No,No,No,No,No,No,No,MD,4S,BLACK,Citation,No,BLACK,M
1,No,No,No,No,No,No,No,No,No,VA,COROLLA,GREEN,Citation,No,WHITE,F
2,No,No,No,Yes,No,No,No,No,No,MD,ACCORD,SILVER,Citation,No,BLACK,F
3,No,No,No,Yes,No,No,No,No,No,MD,DAKOTA,WHITE,Citation,No,BLACK,M
4,No,No,No,No,No,No,No,No,No,MD,2S,WHITE,Citation,No,WHITE,M

In [17]:
# violation type unique values
df['Violation Type'].unique()

array(['Citation', 'Warning', 'ESERO', 'SERO'], dtype=object)

In [18]:
# colors unique values
df['Color'].unique()

array(['BLACK', 'GREEN', 'SILVER', 'WHITE', 'GRAY', 'RED', 'GOLD', 'BLUE',
       nan, 'BLUE, DARK', 'TAN', 'CREAM', 'PURPLE', 'BEIGE',
       'BLUE, LIGHT', 'MAROON', 'GREEN, DK', 'GREEN, LGT', 'ORANGE',
       'BROWN', 'BRONZE', 'YELLOW', 'COPPER', 'MULTICOLOR', 'CAMOUFLAGE',
       'PINK', 'CHROME'], dtype=object)

In [19]:
# models unique values
df['Model'].unique()

array(['4S', 'COROLLA', 'ACCORD', ..., '35M', 'CIICIC', 'CHARAKEE'],
      dtype=object)

In [20]:
# color value count
df['Color'].value_counts()

BLACK          259499
SILVER         236828
WHITE          197558
GRAY           141092
RED            101733
BLUE            94814
GREEN           49520
GOLD            41177
BLUE, DARK      27111
TAN             27015
MAROON          22408
BLUE, LIGHT     17221
BEIGE           15047
GREEN, DK       14457
GREEN, LGT       7345
BROWN            6021
YELLOW           4889
ORANGE           4538
BRONZE           2964
PURPLE           2524
MULTICOLOR       1021
CREAM             837
COPPER            414
PINK              188
CHROME             27
CAMOUFLAGE         24
Name: Color, dtype: int64

In [21]:
# model value counts
df['Model'].value_counts()

4S            144337
TK             84159
ACCORD         47388
CIVIC          44291
CAMRY          43232
               ...
TSEQUOIA           1
R100               1
F250 - TK          1
ECLIPSE CN         1
NCH50              1
Name: Model, Length: 17560, dtype: int64

In [22]:
# violation type value counts
df['Violation Type'].value_counts()

Warning     620103
Citation    607150
ESERO        64224
SERO           922
Name: Violation Type, dtype: int64

In [33]:
# fatal value counts
df['Fatal'].value_counts()

No     1292120
Yes        279
Name: Fatal, dtype: int64

In [25]:
# vehicle colors that are likely to get involved in a traffic violation
# using the groupby function
df.groupby('Color')['Violation Type'].count()

Color
BEIGE           15047
BLACK          259499
BLUE            94814
BLUE, DARK      27111
BLUE, LIGHT     17221
BRONZE           2964
BROWN            6021
CAMOUFLAGE         24
CHROME             27
COPPER            414
CREAM             837
GOLD            41177
GRAY           141092
GREEN           49520
GREEN, DK       14457
GREEN, LGT       7345
MAROON          22408
MULTICOLOR       1021
ORANGE           4538
PINK              188
PURPLE           2524
RED            101733
SILVER         236828
TAN             27015
WHITE          197558
YELLOW           4889
Name: Violation Type, dtype: int64

In [30]:
# models of the car that are more likely to get involved in a traffic violation
pd.options.display.min_rows = 200
df.groupby('Model')['Violation Type'].count()

Model
(COMCAST)            1
(SCION) TC           3
(SW) PASSAT          2
+C 2S                1
-                   12
---                  4
-----                1
.                   28
..                   1
...                  1
.....                3
00                 100
000                  1
000000               1
01                   3
02                  15
05                   8
07                   2
070                  1
0DYSSES              1
0DYSSEY              5
0E9                  1
1                    1
1 TON                1
1 TONJ               1
1.5 RL 4D            2
1.8 T                2
1.8T                17
100                  4
100 CS               2
                  ...
ZR                   1
ZSX                  5
ZTERRA               1
ZTS                  1
ZUMA                32
ZUMA SPORTS SCO      9
ZUMMER               3
ZX                   4
ZX 600               6
ZX-10R               4
ZX-6                13
ZX-6R                4
ZX10                 5
ZX1000               3
ZX10R                3
ZX1200               1
ZX14R                1
ZX2                 15
ZX3                  4
ZX6                  1
ZX636FGFL            3
ZX6R                12
ZX8R                 2
ZX9                  1
ZY1 SUBURBAN         2
ZZR1200              6
`4S                  3
`TC                  4
`TSX 4D              1
~~4DR TL             2
Name: Violation Type, Length: 17560, dtype: int64

In [31]:
# race that is likely to get involved in a traffic violation
df.groupby('Race')['Violation Type'].count()

Race
ASIAN               75454
BLACK              407493
HISPANIC           271966
NATIVE AMERICAN      2940
OTHER               68738
WHITE              465808
Name: Violation Type, dtype: int64

In [32]:
# Gender that is likely to get involved in a traffic violation
df.groupby('Gender')['Violation Type'].count()

Gender
F    425097
M    865862
U      1440
Name: Violation Type, dtype: int64